@font-face{
    font-family: compact;
    src: url(../font/compact.ttf);
}
@font-face{
    font-family: compact-italic;
    src: url(../font/compact-italic.ttf);
}
html {
    height: 100%;
  }
body{  
    margin: 0;
    background: url(../img/fon.jpg) repeat;
}
h1, h2, h3, h4, h5, h6{
    font-family: Compact;
    font-style: italic;

}
h1{
    font-size: 48px;
    font-family: Compact;
    font-style: italic;
}
h3{
    font-family: Compact;
    font-style: italic; 
}
ul, li {
    display: block;
    margin: 0;
    padding: 0;
}
textarea{
    height: 200px;
    resize: none;
}
.header {
    background-size: 100%;
    background-color: rgba(88, 150, 244, 0.3);
}
.company-name{
    margin-top: 20px;
    text-align: center;
}
.logo img{
    float: right;
}
.menu__item{
    margin: 0 40px;
}
.menu__item a{

    font-family: Compact;
    font-style: italic;
    font-size: 36px;
}
.carousel{
    margin-top: 30px;
    
}
.carousel img{
    border-radius: 5px;
}

.service{
    margin: 15px 0;
}
.service-title{
    margin-top: 30px;
}
.service__menu{
    text-align: center;
    margin: 0 30px;
}
.service__menu img{
    width: 100px;
    height: 100px;
    margin: 0 30px;
}
.service__menu img:hover{
    width: 100px;
    height: 100px;
}
.service__menu img.engine:hover{
    background: url(/img/engine_1.png);
}
.service__menu img.suspension:hover{
    background: url(/img/suspension_1.png);
}
.service__menu img.belt:hover{
    background: url(/img/belt_1.png);
}
.service__menu img.break:hover{
    background: url(/img/break_1.png);
}
.service__menu img.gearshift:hover{
    background: url(/img/gearshift_1.png);
}
.service__menu img.fan:hover{
    background: url(/img/fan_1.png);
}
.service__menu img.exhaust:hover{
    background: url(/img/exhaust_1.png);
}
.service__menu img.filter:hover{
    background: url(/img/filter_1.png);
}
.service__menu img.turbo:hover{
    background: url(/img/turbo_1.png);
}
.service__menu img.spark:hover{
    background: url(/img/spark_1.png);
}

.advantages{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.advantages-title h1{
    margin: 30px 0;
}
.form input{
    width: 500px;
}
.form h3{
    margin: 15px 0;
    text-align: center;
}
.button-submit button{
    margin: 15px 0;
}
#about {
    height: 80vh;
}
#news{
    height: 100vh;
}
#footer{
    background-color: rgba(88, 150, 244, 0.3);
    margin-top: 30px;
    height: 15vh;
}
.elements h3{
    margin-top: 10px;  
}

/*медиа запросы*/
/*header*/
@media (max-width: 575.98px) {
    .company-name h1{font-size: 24px;}
    .menu a{font-size: 20px; }
    .menu__item{margin: 0 10px;}
    .logo img{width: 130px; margin: 20px 0 0 0;}
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .company-name h1{font-size: 32px;}
    .menu a{font-size: 32px; }
    .menu__item{margin: 0 25px;}
    .logo img{width: 190px; margin: 10px; padding-right: 20px; }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .company-name h1{font-size: 38px;}
    .logo img{width: 200px;}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .company-name h1{font-size: 44px;}
    
}

@media (min-width: 1200px) {
    

}
/*Контент*/
@media (max-width: 575.98px) {
    .content h1{font-size: 30px; margin-top: 10px;}
    .cont-header h3{ font-size: 18px; margin: 10px 0;}
    .cont-text { text-align: center;}
}

@media (min-width: 576px) and (max-width: 767.98px) {
    
}
@media (min-width: 768px) and (max-width: 991.98px) {
    
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    
}

@media (min-width: 1200px) {
    

}
/*Footer*/
@media (max-width: 575.98px) {
    #footer{height: 7vh;}
    .social{ padding: 0;}
    .social img{ width: 25px; float: right; margin: 10px 3px 0 3px;}
    .contacts h3{ font-size: 18px;}
    
}    

@media (min-width: 576px) and (max-width: 767.98px) {
    .social{ padding: 0;}
    .social img{ width: 40px; float: right; margin: 10px 3px 0 3px;}
    .contacts h3{ font-size: 24px;}
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .social img{ width: 40px; float: right; margin: 10px 3px 0 3px;}
    .contacts h3{ font-size: 24px;}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .social img{ width: 42px; float: right; margin: 10px 3px 0 3px;}
    .contacts h3{ font-size: 28px;}
}   

@media (min-width: 1200px) {
    .social img{float: right; margin: 10px 3px 0 3px;}

}

